body {
width: 100vw;
height: 250vh;
background-image: url("../assets/images/pexels-cottonbro-studio-3826435.jpg");
background-size: cover;
background-repeat: repeat;
background-position: center;
display: flex;
flex-direction: column;
overflow-x: hidden;
}