@media (max-width: 576px) { 
    body{
        height: 400vh;
        overflow-x: hidden;
        overflow-y: auto;
    }
    main {
        height: 430vh;
    }
    .ocultarmobile {
        display: none;
    }
    .textocarruselimag {
        background-color: transparent !important;
    }
    
}
@media (max-width: 320px) {
    body{
        height: 520vh;
        overflow-x: hidden;
        overflow-y: auto

    }
    main {
        height: 550vh;
    }
    .ocultarmobile {
        display: none;
    }
    .textocarruselimag {
        background-color: transparent !important;
    }
}